.container-main {
	height: 92vh;
    overflow: hidden;
}

.left-page {
	height: 92vh;
    overflow: auto;
}

.right-page {
	height: 92vh;
    overflow: auto;
}

/*定義滾動條高寬及背景 高寬分別對應橫豎滾動條的尺寸*/  
::-webkit-scrollbar  
{  
    width: 16px;  
    height: 16px;  
    background-color: #f8f9fa;  
}  
  
/*定義滾動條軌道 內陰影+圓角*/  
::-webkit-scrollbar-track  
{  
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);   */
    /* border-radius: 10px;   */
    background-color: #FFF;  
}  
  
/*定義滑塊 內陰影+圓角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 8px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1);  
    background-color: #dee2e6;  
} 
